.page-header {
    height: 120px
}
.menu-bar {
    margin: 34px auto 0;
}

.primary-logo {
    float: left;

    img {
        width: 250px;
    }
}

.primary-nav {
    display: inline-block;
    float: right;
}
