// Colors
$color-blue-primary: #22558e;
$color-blue: #22558e;
$blue-light: #1d5491;
$color-light-blue: #2779cc;
$color-green: #8cb64e;
$color-gray: #92a8aa;
$color-gray-text: #879fa0;
$color-light-gray: #ccc;

$primary-color: $color-green;
$secondary-color: $color-blue-primary;
$alert-color: #ed1c24;
$success-color: green;
$warning-color: $primary-color;
$info-color: #a0d3e8;

$serif: "proxima-nova",sans-serif;
$sans-serif: "proxima-nova",sans-serif;
$compressed-font: 'Teko', sans-serif;

